<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerProducts') %>
    <main>
        <div class="contenedor_main">
            <div class="detalleProducto">
                <div class="detalle">
                    <img class="imagenDetalle_producto" src="/images/<%= product.image %>" alt="imagen-producto">
                    <div class="prueba">
                        <h3><%= product.name %></h3>
                        <div class="precio">
                            <p>Descuento</p>
                            <p class="descuento">$<%= product.discountedPrice %></p>
                            <p>Precio</p>
                            <div class="off">
                                <p class="off">$<%= product.price %></p>
                                <p class="off_p"><%= product.discount %> OFF</p>
                            </div>
                        </div>
                        <div class="comprar">
                            <input type="submit" value="Comprar Ahora">
                            <input type="submit" value="Agregar al Carrito">
                            <input type="submit" value="Editar Producto">
                            <input type="submit" value="Eliminar Producto">
                        </div>
                    </div>
                </div>
            </div>
            <div class="especificaciones">
                <div class="descripcion">
                    <p>Descripción</p>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <p><%= product.description %></p>
                </div>
                <div class="fichaTecnica">
                    <p>Ficha Técnica</p>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <p><%= product.technicalDetails %></p>
                </div>
            </div>
        </div>
        <%- include('./partials/recomendacion') %>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>
